@import "../base/base";

.header {
  .header-wrap {
    .customized-travel {
      h3 {
        font-size: 34px;
        letter-spacing: 1px;
      }
    }
  }
}

.noUi-horizontal {
  height: 7px;
  margin-top: 50px;
  margin-left: 20px;
  .noUi-handle {
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    background: $primary;
    box-shadow: none;
    border: none;
    &:after, &:before {
      background: transparent;
    }
  }
}

.no-of-days-wrap {
  //padding-left: 45px;
  .noUi-handle-lower {
    .noUi-tooltip {
      color: #000;
      font-size: 12px;
      left: -7px;
      border: solid 1px #dddddd;
    }
  }
  .noUi-handle-upper {
    .noUi-tooltip {
      border: solid 1px #dddddd;
      color: #000;
      font-size: 12px;
      left: -13px;
      top: -32px;
      bottom: inherit;
      left: -7px;
    }
  }
  .noUi-connect {
    background: $primary;
  }
}

.tours {
  .header {
    background: url('../../images/tours_banner.jpg');
    background-size: cover;
  }
}

.tour-tabs {
  border-bottom: solid 0.5px $border;
  .nav-justified {
    width: 50%;
    margin: auto;
  }
  .nav-pills {
    li {
      a {
        border-bottom: 2px solid #fff;
        border-radius: 0;
        font-size: 12px;
        padding: 20px 15px;
        color: #000;
        @include font('Medium');
      }
    }
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: $primary;
    background-color: transparent;
    border-bottom: 2px solid $primary;
  }
  .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    border-bottom: 2px solid #eee;
  }
}

/* Team */
.team {
  .team-wrap {
    padding: 40px 0 0;
    text-align: center;
    .container {
      .body {
        margin: 40px auto 0;
        width: 90%;
        border-bottom: solid 0.5px #dddddd;
        padding-bottom: 60px;
        .testi-block {
          margin-bottom: 20px;
          .img-wrap {
            position: relative;
            .content-wrap {
              position: absolute;
              top: 0;
              width: 100%;
              background: rgba(0, 0, 0, 0.05);
              height: 100%;
              text-align: center;
              //height: 382px;
              //display: table;
              .pp-title {
                top: 33%;
                position: absolute;
                width: 100%;
                //vertical-align: middle;
                //display: table-cell;
                p {
                  @include font('Medium');
                  font-size: 22px;
                  color: #ffffff;
                  margin-bottom: 0;
                  &:last-child {
                    font-size: 12px;
                  }
                }
              }
              .price-patch {
                background: rgba(22, 22, 22, 0.6);
                position: absolute;
                bottom: 15px;
                padding: 6px 12px;
                z-index: 1;
                left: 0;
                p {
                  font-size: 11px;
                  color: #ffffff;
                  margin-bottom: 0;
                  span {
                    @include font('Medium');
                    font-size: 14px;
                    line-height: 0.6;
                    color: #ffffff;
                  }
                }
              }
            }
          }
          .content-block {
            background-color: #ffffff;
            box-shadow: 0.5px 1px 15px 0 rgba(194, 194, 194, 0.5);
            padding: 18px;
            min-height: 140px;
            .content-block-wrap {

            }
            .cust-img-wrap {
              text-align: center;
              position: relative;
              padding-top: 0px;
              img {
                position: absolute;
                width: 80px;
                top: -68px;
                left: 37%;
                border: 3px solid #fff;
                border-radius: 9999px;
              }
              h4 {
                @include font('Medium');
                font-size: 16px;
                color: $black;
                margin-bottom: 5px;
                margin-top: 5px;
              }
              p {
                opacity: 0.4;
                font-size: 12px;
                color: $black;
                //margin-top: 5px;
                margin-bottom: 0;
                //&:last-child {
                //  margin-top: 0;
                //  margin-bottom: 10px;
                //}
              }
            }
            .t-details {
              p {
                opacity: 0.4;
                font-size: 14px;
                line-height: 25px;
                color: $black;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* Our Mission */
.our-mission {
  background: url("../../images/tours_banner.jpg");
  background-size: cover;
  height: 32em;
  .om-wrap {
    padding: 40px 0 0;
    text-align: center;
    position: relative;
    top: 32%;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-20%);
    color: #fff;
    opacity: 0.9;
    .head {
      .title {
        h4 {
          color: #fff;
        }
      }
    }
    .container {
      .body {
        p {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}

/* Contact us */
.contact {
  .contact-wrap {
    padding: 50px 0 65px;
    text-align: center;
    .container {
      .body {
        margin-top: 20px;
        .pr-body-wrap {
          width: 60%;
          margin: auto;
        }
        .setting-row {
          margin-bottom: 10px;
          .title {
            font-family: "BentonSans-Medium";
            font-size: 12px;
            color: #000000;
            text-align: left;
          }
          .settings-details {
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            input[type='text'], input[type='email'] {
              height: 42px;
              //width: 21%;
              //float: left;
              //margin-right: 1%;
            }
          }
        }
      }
    }
  }
}

/* Jois us */
.join-us {
  background: url("../../images/tours_banner.jpg");
  background-size: cover;
  height: 32em;
  .ju-wrap {
    padding: 40px 0 0;
    text-align: center;
    position: relative;
    top: 32%;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-20%);
    color: #fff;
    opacity: 0.9;
    .head {
      .title {
        h4 {
          color: #fff;
          font-size: 40px;
        }
      }
    }
    .container {
      .body {
        p {
          width: 80%;
          margin: auto;
          font-size: 16px;
        }
      }
    }
  }
}

/*Layout for Mobile(lanscape)*/
@media handheld, only screen and (max-width: 767px) {
  .tour-tabs {
    .nav-justified {
      width: 100%;

      li {
        float: left;
      }
    }
    .nav-pills {
      li {
        a {
          padding: 15px 10px;
          margin-bottom: 0;
          font-size: 10px;
        }
      }
    }
  }

  .head {
    .title {
      h4 {
        @include font('Book');
        font-size: 26px;
      }
    }
  }

  .pagination {
    padding-left: 0;
  }
}

/*Layout for Mobile(portrait)*/
@media only screen and (max-width: 479px) {

}

/*Small Moblie Screen*/
@media only screen and (max-width: 320px) {

}